<app-home></app-home>
<router-outlet></router-outlet>
<div class="container px-5">
    <img src="/assets/mohammad-rahmani-LrxSl4ZxoRs-unsplash.jpg" alt="" loading="lazy" class="w-full md:h-[350px] h-[150px]">
<p class="pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, ut debitis non minima sit molestias dolore optio! Laboriosam tenetur facilis architecto vel culpa ratione illo eaque praesentium. Aperiam, quasi? Corporis, saepe neque. Voluptas quo at ipsa hic minima commodi quaerat dicta provident ratione. Illo dolorum, nobis necessitatibus architecto hic quaerat!</p>
</div>