<app-home></app-home>
<router-outlet></router-outlet>
<div class="px-4 sm:px-6 lg:px-8 mt-5">
    <img 
        src="/assets/mohammad-rahmani-LrxSl4ZxoRs-unsplash (1).jpg" 
        alt="Image" 
        loading="lazy" 
        class="w-full max-h-[300px] h-auto object-cover rounded-lg shadow-md"
    >
    <p class="pt-5 text-sm sm:text-base md:text-lg lg:text-xl leading-relaxed text-gray-700">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, ut debitis non minima sit molestias dolore optio! Laboriosam tenetur facilis architecto vel culpa ratione illo eaque praesentium. Aperiam, quasi? Corporis, saepe neque. Voluptas quo at ipsa hic minima commodi quaerat dicta provident ratione. Illo dolorum, nobis necessitatibus architecto hic quaerat!
    </p>
</div>

